<% if(success && success.length) { %>
    <div class="flash-container">
    <div class=" alert alert-success" role="alert">
        <%= success %>
    </div>
</div>
<% } %>
<% if(error && error.length) { %>
    <div class="flash-container">
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    </div>
<% } %>