
    <footer>
        <h5>Check out <span><img src="/images/verafied-text-white.svg" alt="Footer Logo"></span> on our Socials!</h5>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/verafiedlove"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/verafiedlove"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.tiktok.com/@verafiedlove?"><i class="fab fa-tiktok"></i></a></li>
        </ul>
    </footer>
</body>
</html>