<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verafiable</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Meet the Team</a></li>
            <li><a href="#">Log In</a></li>

        </ul>
    </nav>
    <section class="jumbotron">
            <div id="logo-container">
                <img src="" alt="">
                <h2>Quality over Quantity</h2>
            </div>
    </section>
    <section class="history">
        <div id="history-container">
            <div id="history-img">

            </div>
            <div id="history-text-container">
                <h3>How Verafied was created</h3>
                <p>As a single person myself, I have found it incredibly frustrating to find a service to cover my needs. From flaky suitors to matches who look nothing like their pictures online; I became exhausted in my search for love. Verafied was created by incorporating all of the elements I thought were missing in a dating/matchmaking service.</p>
            </div>
        </div>
    </section>
    <section class="pitch">
        <div>
            <h3>Here's how Verafied is different from the other dating websites:</h3>
            <ul>
                <li><i></i> The team at Verafied personally sits down with each client to find out who they are and what they're looking for.</li>
                <li><i></i> The Verafied team creates each clients profile and verifies photos and provides background checks, saving you time</li>
                <li><i></i> We take the guessing out of dating by ensuring the profile actually matches the client </li>
                <li><i></i> Once the profile / questionnaire is complete we search our database to find our clients possible connections</li>
                <li><i></i> We offer dating / relationship advice, tips, and updated photographs for your profile. </li>
            </ul>
            
            
        </div>
    </section>
    <section class="contact">
        <div id="social-container">
            <h3>Follow us:</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Pinterest</a></li>
            </ul>
        </div>
        <div id="contact-container">
            <h3>Follow us:</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Pinterest</a></li>
            </ul>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Pinterest</a></li>
        </ul>
    </footer>
</body>
</html>