<%- include('./partials/header') %> 
    
    <section class="jumbotron">
            <div class="jumbotron-container">
                <img src="/images/verafied-text.svg" alt="Verafied Logo and Text">
                <hr>
                <h2><em>Quality over Quantity</em></h2>
            </div>

    </section>
    <section class="history">
        <div id="history-container">
            <img class="vera-3" src="./images/vera-3.jpg" alt="Picture of Ashley Vera, Founder">
            <div id="history-text-container">
                <h3>How <span><img class="logo-text" src="/images/verafied-text.svg" alt="Verafied Logo Text"></span>™ was created</h3>
                <p>As a single person myself, I have found it incredibly frustrating to find a service to cover my needs. From flaky suitors to matches who look nothing like their pictures online; I became exhausted in my search for love. Verafied was created by incorporating all of the elements I thought were missing in a dating/matchmaking service.</p>
                <p id="quote-right"><img id="history-container-icon" src="/images/verafied-logo.svg" alt="Verafied Logo">Ashley Vera, Founder</p>
            </div>
        </div>
    </section>
    <section class="pitch">
        <div id="pitch-container">
            <h3>Here's how <span><img class="logo-text" src="/images/verafied-text-white.svg" alt="Verafied Logo Text"></span>™ is different from the other dating websites:</h3>
            <ul>
                <li><img class="verafied-checkmarks" src="/images/verafied-checkmark-white.svg" alt="Verafied Checkmark"> The team at Verafied personally sits down with each client to find out who they are and what they're looking for.</li>
                <li><img class="verafied-checkmarks" src="/images/verafied-checkmark-white.svg" alt="Verafied Checkmark"> The Verafied team creates each clients profile and verifies photos and provides background checks, saving you time.</li>
                <li><img class="verafied-checkmarks" src="/images/verafied-checkmark-white.svg" alt="Verafied Checkmark"> We take the guessing out of dating by ensuring the profile actually matches the client. </li>
                <li><img class="verafied-checkmarks" src="/images/verafied-checkmark-white.svg" alt="Verafied Checkmark"> Once the profile / questionnaire is complete we search our database to find our clients possible connections.</li>
                <li><img class="verafied-checkmarks" src="/images/verafied-checkmark-white.svg" alt="Verafied Checkmark"> We offer dating / relationship advice, tips, and updated photographs for your profile. </li>
            </ul>
            
            
        </div>
        <img id="pitch-bg-logo" src="/images/verafied-logo-white.svg" alt="Verafied Corner Logo">
    </section>
    <section class="contact">

            <h3>Contact us:</h3>
                <form action="/contact" method="POST">
                    <div>
                        <label for="name" >
                            <input type="text" name="name" placeholder="Name">
                        </label>
                    </div>
                    <div >
                        <label for="email" >
                            <input type="email" name="email" placeholder="Email">
                        </label>
                    </div>
                    <div >
                        <label for="message" >
                            <textarea name="message" id="contact-message" cols="30" rows="12" placeholder="Contact us directly and we will get back to you ASAP!"></textarea>
                        </label>
                    </div>

                    <input class="submit" type="submit" value="Submit">
                    </form>

    </section>

    <%- include('./partials/footer') %> 