<%- include('./partials/header') %> 
<script>
    document.title = "Verafied™ - Questionnaire" 
    </script>
<div id="questionnaire">
    
    
    
    <form id="questionnaire-form" action="/questionnaire" method="POST">
        
        <div class="question-category-one">
            <!-- Disclaimer -->
            <h2 class="question-category-title">Disclaimer</h2>
            <div id="disclaimer">
                <h3>Terms & Conditions</h3>
                <p>This document outlines the Terms and Conditions (the “Terms”) relating to the services provided to you (the “Services”) by Verafied.  Your signature below constitutes your agreement to be bound by the following Terms.  The terms “we” and “us” refer to Verafied.  The terms “you” refer to the Client named in the signature below. 
                </p>
                <h3>Information Collected</h3>
                <p>The information that Verafied collects is typically limited to personal information about you that you voluntarily divulge during the interview process. We collect this data in order to better serve all of our customers by identifying which people match up best by the information the clients share. Some of this information may include, but not be limited to, your name, level of education, religion, interests, past relationships, and credit card information for monthly subscriptions. Credit card information will only be used for billing and will not be shared with any third parties. 
                </p>
                <p>
                Additionally, the information that is on Verafied’s website is for educational and informational purposes only. This information is to be seen as self-help tools for the clients to use at their discretion. Any information on the website, app, or emails is not to be used in place of a professional. 
                </p>
                <h3>Background Checks</h3>
                <p>
                    One of the ways that Verafied is different from other dating services is because of the background checks. We conduct a background check on each client that signs up for the Services. With this background check, we can verify age, name, aliases, address, and any criminal traffic. We of course are limited to the information that comes back from the background check, but if anything pertinent stands out, (sex offender, child molester, etc.) this client will not be allowed to use our Services. Verafied does not accept any responsibility for any mishaps that occur when two clients meet up. Even with a clear background check, clients are capable of any type of action and Verafied will not accept responsibilities for their behavior and actions. By signing below, you agree to a general background check in order to start your profile with Verafied. 
                </p>
                <h3>Minors & Verafied</h3>
                <p>Clients under 21 years of age will not be allowed to create a profile page on Verafied. Verafied does not knowingly solicit or collect any information from customers under the age of 21. Verafied is a service designed for adults who are 21 years of age and older. </p>
                <h3>No Guarantees</h3>
                <p>The role of Verafied is to help assist the client in finding a partner. This of course will only be achieved if the client puts forth their own effort, and they are motivated and committed to the process. Here at Verafied, we will always do our best to find our clients a partner, but we cannot and do not guarantee any particular results. </p>
                <h3>No Liability</h3>
                <p>Verafied does not assume any liability for accidents, injuries, loss or damage due to any act or default of any company, organization, or person engaged in rendering service or carrying out arrangements. Verafied does not accept any responsibility for anything that happens before, during or after any dates or meet ups. This includes any social gatherings Verafied may put on as part of the business. 
                </p>
                <h3>Assumption of Risk</h3>
                <p>Occasionally there are unknown individual risks and situations that can come about during the usage of Verafied Services that cannot be foreseen.  Verafied is not held responsible for any personal actions or choices before, during or after Services rendered. As a client, you accept full responsibility and/or consequences for your use, or non-use of any information provided to us. Your use, or non-use is at your own risk and you absolve any liability or loss that you, your family, or any other person may incur from your or their use or non-use of the information provided. </p>
                <h3>Indemnity</h3>
                <p>You agree to indemnify, defend and hold Verified, and its directors, officers, employees, representatives, partners, agents, subcontractors, successors, assigns, third party suppliers of information and documents, advertisers, product and service providers, and affiliates (collectively, “Affiliated Parties”) harmless from any and all losses, liability, claims and expenses (including, but not limited to, attorney’s fees) arising out of or related to your violation of these Terms, or resulting from any claims that you assert, or may assert, based on or relating to the Services provided by Verified.  You further agree to indemnify, defend, and hold us and the Affiliated Parties from any and all losses, liability, claims and expenses (including, but not limited to, attorney’s fees) resulting from claims of third parties arising out of or related to violations by you, or any individual for whom you are responsible, of these Terms.  
                </p>
                <h3>Every Effort</h3>
                <p>While members of the Verafied team do what they can to ensure information on the websites, apps, and emails is accurate and correct, occasionally there could be a typo or inaccuracy of information. We are not responsible for the accuracy of the information nor the views and opinions of material that is distributed on our sites. </p>
                <h3>Other Dating Services and Companies</h3>
                <p>While using the services of Verafied, the client agrees to refrain from using any free or paid service besides Verafied. We ask our clients to put their faith into this company and trust that through time, we will be able to find the client the appropriate match. If the client is unsatisfied with the services, they can unsubscribe at any time. If members of the Verafied team find out a client is using additional dating services, their membership can and will be terminated. </p>
                <h3>Testimonials</h3>
                <p>The testimonials that are represented on Verafied are all real stories of people who have met through Verafied services. Each client has agreed to share their story and has approved of the usage of photography and information divulged in order to share their own experience. These testimonials are not intended to represent the majority of clients on the site nor do they guarantee the same outcome for the rest of our clients. </p>
                <h3>Right to Refuse Service</h3>
                <p>The company holds the right to refuse service to anyone who is not suitable for the business. Such reasons can include but are not limited to: clients who are married, clients already in a serious relationship, clients who are criminals, etc. The company has the right to discontinue services at any given time and any outstanding monies rendered will be returned upon the termination of the agreement. </p>
                <h3>Implicit Agreement</h3>
                <p>By using the website, email, app or any of our services through Verafied, you agree to all parts of the above disclaimer. </p>
                <h3>Questions</h3>
                <p>For any questions about this disclaimer, please contact me at avera@verafiedlove.com</p>
            </div>
            
            <label id="terms-of-service" for="termsOfService"><input class="tos-btn" type="checkbox"  name="termsOfService" value="Yes" ><p class="required">I Agree to Verafied's Terms of Service</p></label> 
            <!-- <label id="e-sig">
                <p>E Signature</p>   
                <input type="text" name="termsSignature" placeholder="Enter Full Name" required>
            </label> -->

           </div>
           
        <div class="question-category hidden" id="basic-info">
            <h2 class="question-category-title">Basic Info</h2>
            <div>
                <label for="firstName" >
                    <p class="required">First Name</p>
                    <input type="text" name="firstName" placeholder="First Name" required>
                </label>
            </div>
            <div>
                <label for="lastName" >
                    <p class="required">Last Name</p>
                    <input type="text" name="lastName" placeholder="Last Name" required>
                </label>
            </div>
                    <!-- DATE -->
            <div>
            <label for="birthday" >
                <p class="required">Birthday</p>
                <% let maxDate = new Date(Date.now()).toISOString() %>
                <% const currentDate = new Date() ; %>
                <% const currentYear = parseInt(currentDate.getFullYear()); %>
                <% const maxYear = currentYear - 18; %>
                <% const finalYear = maxYear.toString(); %>
                <input type="date" min="1903-01-02" max="<%= finalYear + maxDate.substring(4,10); %>" name="birthday" placeholder="Birthday" required>
            </label>
            </div>
                    <!-- Gender -->
        <div id="gender-container" class="required">
            <label for="Male"> <p>Male</p>
            <input type="radio" name="gender" id="Male" value="Male" required></label>
            <label for="Female"><p>Female</p>
            <input type="radio" name="gender" id="Female" value="Female"></label>
            <label for="Other"><p>Other</p>
            <input type="radio" name="gender" id="Other" value="Other"></label>
        </div>
        <div>
            <label for="height" >
                <p class="required">Height</p>
                <input type="text" name="height" placeholder="5'11, 6'1, etc." required>
            </label>
        </div>
        <div>
            <label for="bodyType">
                <p>Body Type:</p>
            <select name="bodyType">
                <option value="" disabled selected>Choose One</option>
              <option value="Slim">Slim</option>
              <option value="Average">Average</option>
              <option value="Athletic">Athletic</option>
              <option value="Curvy">Curvy</option>
              <option value="A Little Extra">A Little Extra</option>
              <option value="Tons of Fun-more to love">Tons of Fun-more to love</option>
            </select>
        </label>
        </div>
   
        
<!-- Seeking -->
<div>
    <label for="seeking">
        <p>Seeking:</p>
    <select name="seeking">
        <option value="" disabled selected>Choose One</option>
      <option value="Men">Men</option>
      <option value="Women">Women</option>
      <option value="Both">Both</option>
    </select>
</label>
</div>
<!-- ageRange -->
<div>
    <label for="ageRange" >
        <p class="required">Ideal Age Range?</p>
        <input type="text" name="ageRange" placeholder="18-25, 30-40, etc." required>
    </label>
</div>
        <!-- Originally From? -->
        <div>
            <label for="originallyFrom" >
                <p>Originally From?</p>
                <input type="text" name="originallyFrom" placeholder="City, State">
            </label>
        </div>
        <div>
            <label for="areaOfTown">
                <p>Your Area of Town?</p>
            <select name="areaOfTown">
                <option value="" disabled selected>Choose One</option>
                <option value="Henderson">Henderson</option>
                <option value="Summerlin">Summerlin</option>
                <option value="North Las Vegas">North Las Vegas</option>
                <option value="Southern Highlands">Southern Highlands</option>
                <option value="Strip Area">Strip Area</option>
                <option value="Boulder City">Boulder City</option>
                <option value="Centennial">Centennial</option>
                <option value="Lake Las Vegas">Lake Las Vegas</option>
                </select>
                </label>
        </div>
        
    </div>
<div class="question-category hidden">
    <h2 class="question-category-title">Contact</h2>
    <div>
        <label for="phoneNumber" >
            <p>Phone Number</p>
            <input type="text" name="phoneNumber" placeholder="(702) 555-2211">
        </label>
    </div>
    <div>
        <label for="clientEmail" >
            <p>Email Address</p>
            <input class="email-input" type="email" name="clientEmail" placeholder="john@gmail.com">
        </label>
    </div>
</div>
    <div class="question-category hidden">
        <h2 class="question-category-title">Verafied Logistics</h2>
        <div>
            <label for="relationshipGoal">
                <p>What are you looking for in a relationship?</p>
            <select name="relationshipGoal">
                <option value="" disabled selected>Choose One</option>
                <option value="Serious Relationship">Serious Relationship</option>
                <option value="Friend">Friend</option>
                <option value="Friends With Benefits">Friends With Benefits</option>
                <option value="Something Casual">Something Casual</option>
                <option value="I Don't Know">I Don't Know</option>
            </select>
        </label>
        </div>
        <div>
            <label for="verafiedJoinReason" >
                <p>Why did you join Verafied?</p>
                <textarea  name="verafiedJoinReason"  rows="4" cols="100" placeholder="Enter Response"></textarea>
            </label>
        </div>

        <div>
            <label for="mixers">
                <p>Are you interested in doing meetups/mixers?</p>
            <select name="mixers">
                <option value="" disabled selected>Choose One</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>

            </select>
        </label>
        </div>
        <div>
            <label for="verafiedSuggestions" >
                <p>What other services would you like to see Verafied offer?</p>
                <textarea  name="verafiedSuggestions"  rows="4" cols="100" placeholder="Enter Response"></textarea>
            </label>
        </div>
        <div>
            <label for="selfEsteem" >
                <p>Give me insight into your self-esteem. How do you feel about yourself?</p>
                <textarea  name="selfEsteem"  rows="4" cols="100" placeholder="Enter Response"></textarea>
            </label>
        </div>
    </div>
<div class="question-category hidden">
    <h2 class="question-category-title">Family</h2>
    <div>
        <label for="siblings" >
            <p>Do you have siblings? If so, how many?</p>
            <textarea  name="siblings"  rows="4" cols="100" placeholder="Yes, I have one brother/ No, I'm an only child"></textarea>
        </label>
    </div>
    <div>
        <label for="familyInVegas" >
            <p>Do you have family/friends here in Vegas? How often do you see them?</p>
            <textarea  name="familyInVegas"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="familyCloseness" >
            <p>How close are you with your family? Do you typically introduce your partner to friends/family/coworkers early on?</p>
            <textarea  name="familyCloseness"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
</div>
       <div class="question-category hidden">
        <h2 class="question-category-title">Religion, Politics, Ethnicity</h2>
<!-- Ethnicity -->
<div>
    <label for="ethnicity">
        <p>Ethnicity</p>
    <select name="ethnicity">
        <option value="" disabled selected>Choose One</option>
      <option value="White">White</option>
      <option value="Black">Black</option>
      <option value="Asian">Asian</option>
      <option value="Hispanic">Hispanic</option>
      <option value="Middle-Eastern">Middle-Eastern</option>
      <option value="Pacific Islander">Pacific Islander</option>
      <option value="Mixed">Mixed</option>
      <option value="Prefer Not To Answer">Prefer Not To Answer</option>
    </select>
</label>
</div>


<!-- Religion -->
<div>
    <label for="religion">
        <p>Religion</p>
    <select name="religion">
        <option value="" disabled selected>Choose One</option>
        <option value="Atheist">Atheist</option>
        <option value="Christian">Christian</option>
        <option value="Catholic">Catholic</option>
        <option value="Jewish">Jewish</option>
        <option value="Buddhist">Buddhist</option>
        <option value="Mormon">Mormon</option>
        <option value="Islamic">Islamic</option>
        <option value="Spiritual">Spiritual</option>
        <option value="Agnostic">Agnostic</option>
    </select>
</label>
</div>
<!-- Politics -->
<div>
    <label for="politics">
        <p>Political Views?</p>
    <select name="politics">
        <option value="" disabled selected>Choose One</option>
        <option value="Not Political">Not Political</option>
        <option value="Liberal">Liberal</option>
        <option value="Conservative">Conservative</option>
        <option value="Moderate">Moderate</option>
        <option value="Prefer Not to Answer">Prefer Not to Answer</option>

    </select>
</label>
</div>
<div class="multi-answer-container">
    <div class="multi-row-container">
    <p>Desired Partner Ethnicity:</p>
    <div class="multi-row">
    <label for="partnerEthnicity"><p>Open</p><input type="checkbox" name="partnerEthnicity" value="Open"></label>    
    <label for="partnerEthnicity"><p>White</p><input type="checkbox" name="partnerEthnicity" value="White"></label>     
    <label for="partnerEthnicity"><p>Black</p><input type="checkbox" name="partnerEthnicity" value="Black"></label>     
    <label for="partnerEthnicity"><p>Asian</p><input type="checkbox" name="partnerEthnicity" value="Asian"></label>    
    <label for="partnerEthnicity"><p>Hispanic</p><input type="checkbox" name="partnerEthnicity" value="Hispanic"></label>      
    <label for="partnerEthnicity"><p>Middle-Eastern</p><input type="checkbox" name="partnerEthnicity" value="Middle-Eastern"></label>    
    <label for="partnerEthnicity"><p>Pacific Islander</p><input type="checkbox" name="partnerEthnicity" value="Pacific Islander"></label>      
    <label for="partnerEthnicity"><p>Mixed</p><input type="checkbox" name="partnerEthnicity" value="Mixed"></label>     
</div>
</div>
</div>
       </div>
        
<div class="question-category hidden">
 <!-- Children -->
 <h2 class="question-category-title">Children & Previous Marriages</h2>
 <!-- Prev MArriage -->
 <div>
    <label for="prevMarried">
        <p>Have you been married before?</p>
    <select name="prevMarried">
        <option value="" disabled selected>Choose One</option>
        <option value="No">No</option>
        <option value="Once">Yes, once</option>
        <option value="Twice">Yes, twice</option>
        <option value="Three or More times">Yes, three or more times</option>
        
    </select>
</label>
</div>
 <div>
    <label for="children">
        <p>Do You Have Children?</p>
    <select name="children">
        <option value="" disabled selected>Choose One</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Unable to Have Children">Unable to Have Children</option>
        <option value="Yes, and I want More">Yes, and I want More</option>
        <option value="Yes, and I Don't want More">Yes, and I Don't want More</option>
        
    </select>
</label>
</div>
<div>
    <label for="wantChildren">
        <p>Do You Want Children?</p>
    <select name="wantChildren">
        <option value="" disabled selected>Choose One</option>
        <option value="Yes">Yes, I want Children</option>
        <option value="No">No, I don't want Children</option>
    </select>
</label>
</div>
<div>
    <label for="stepParent">
        <p>Willing to be a Step Parent?</p>
    <select name="stepParent">
        <option value="" disabled selected>Choose One</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Depends On the situation">Depends On the situation</option>
    </select>
</label>
</div>
</div>


<div class="question-category hidden">
    <h2 class="question-category-title">Vices & Body Art</h2>
 <!-- Tattoos -->
<div>
    <label for="tattoos">
        <p>Tattoos?</p>
    <select name="tattoos">
        <option value="" disabled selected>Choose One</option>
      <option value="Yes">Yes, I have Tattoos</option>
      <option value="No">No, I have no Tattoos</option>

    </select>
</label>
</div>   
<div>
    <label for="totalTattoos">
        <p>How many do you have?</p>
        <input type="number" name="totalTattoos" placeholder="# of Tattoos">
</label>
</div>
    <!-- Partner Tattoos -->
    <div>
        <label for="partnerTattoos">
            <p>Partner Tattoos?</p>
        <select name="partnerTattoos">
            <option value="" disabled selected>Choose One</option>
          <option value="Yes">Yes, I'm okay with them</option>
          <option value="No">No, I'm not okay with them</option>
    
        </select>
    </label>
    </div>
    <div class="multi-answer-container">
        <div class="multi-row-container">
            <p>Tattoo Locations</p>
            <div class="multi-row tattoo-types-container">
    
                <label for="tattooPlaces"><p>Face</p><input type="checkbox" name="tattooPlaces" value="Face"></label>     
                <label for="tattooPlaces"><p>Neck</p><input type="checkbox" name="tattooPlaces" value="Neck"></label>     
                <label for="tattooPlaces"><p>Shoulder(s)</p><input type="checkbox" name="tattooPlaces" value="Shoulders"></label>    
                <label for="tattooPlaces"><p>Hand(s)</p><input type="checkbox" name="tattooPlaces" value="Hands"></label>      
                <label for="tattooPlaces"><p>Arm(s)</p><input type="checkbox" name="tattooPlaces" value="Arms"></label>    
                <label for="tattooPlaces"><p>Leg(s)</p><input type="checkbox" name="tattooPlaces" value="Legs"></label>      
                <label for="tattooPlaces"><p>Foot/Feet</p><input type="checkbox" name="tattooPlaces" value="Feet"></label>     
                <label for="tattooPlaces"><p>Back</p><input type="checkbox" name="tattooPlaces" value="Back"></label>    
                <label for="tattooPlaces"><p>Torso</p><input type="checkbox" name="tattooPlaces" value="Stomach"></label>
                
            </div>
    </div>
    </div>
<!-- Piercings -->
<div>
    <label for="piercings">
        <p>Piercings?</p>
    <select name="piercings">
        <option value="" disabled selected>Choose One</option>
      <option value="Yes">Yes, I have Piercings</option>
      <option value="No">No, I have no Piercings</option>

    </select>
</label>
 </div>
 <div>
    <label for="totalPiercings">
        <p>How many do you have?</p>
        <input type="number" name="totalPiercings" placeholder="# of Piercings">
</label>
</div>
 <!-- Partner piercings -->
<div>
    <label for="partnerPiercings">
        <p>Partner Piercings?</p>
    <select name="partnerPiercings">
        <option value="" disabled selected>Choose One</option>
      <option value="Yes">Yes, I'm okay with them</option>
      <option value="No">No, I'm not okay with them</option>

    </select>
</label>
</div>
<div> 
     <div class="multi-answer-container">
        <div class="multi-row-container">
            <p>Piercing Locations:</p>
            <div class="multi-row">

                <label for="piercingPlaces"><p>Ear(s)</p><input type="checkbox" name="piercingPlaces" value="Ears">     </label>
                <label for="piercingPlaces"><p>Nose</p><input type="checkbox" name="piercingPlaces" value="Nose">   </label> 
                <label for="piercingPlaces"><p>Tongue</p><input type="checkbox" name="piercingPlaces" value="Tongue">    </label>
                <label for="piercingPlaces"><p>Eyebrow(s)</p><input type="checkbox" name="piercingPlaces" value="Eyebrow">   </label>  
                <label for="piercingPlaces"><p>Lip</p><input type="checkbox" name="piercingPlaces" value="Lip">    </label>
                <label for="piercingPlaces"><p>Privates</p><input type="checkbox" name="piercingPlaces" value="Privates">   </label>  
            </div>
        </div>
     </div>
         

</div>


<!-- Alcohol -->
<div>
    <label for="alcoholUse">
        <p>Alcohol Consumption</p>
    <select name="alcoholUse">
        <option value="" disabled selected>Choose One</option>
      <option value="Never">I don't Drink Alcohol</option>
      <option value="Infrequently">Once in a While</option>
      <option value="Occasionally">Occasionally</option>
      <option value="Socially">Socially</option>
      <option value="Often">Often</option>
      <option value="Excessively">Excessively</option>
    </select>
</label>
</div>
<!-- Cigarette -->
<div>
    <label for="cigaretteUse">
        <p>Cigarette Use</p>
    <select name="cigaretteUse">
        <option value="" disabled selected>Choose One</option>
      <option value="Never">I don't Smoke</option>
      <option value="Infrequently">Once in a While</option>
      <option value="Occasionally">Occasionally</option>
      <option value="Socially">Socially</option>
      <option value="Often">Often</option>
      <option value="Excessively">Excessively</option>
    </select>
</label>
</div>
<!-- Marijuana -->
<div>
    <label for="marijuanaUse">
        <p>Marijuana Usage</p>
    <select name="marijuanaUse">
        <option value="" disabled selected>Choose One</option>
      <option value="Never">I don't Use Marijuana</option>
      <option value="Infrequently">Once in a While</option>
      <option value="Occasionally">Occasionally</option>
      <option value="Socially">Socially</option>
      <option value="Often">Often</option>
      <option value="Excessively">Excessively</option>
    </select>
</label>
</div>
<div class="multi-answer-container">
    <div class="multi-row-container">
    <p>How do you use Marijuana:</p>
    <div class="multi-row">
    <label for="marijuanaTypes"><p>Smoking</p><input type="checkbox" name="marijuanaTypes" value="Smoking"></label>    
    <label for="marijuanaTypes"><p>Edibles</p><input type="checkbox" name="marijuanaTypes" value="Edibles"></label>     
    <label for="marijuanaTypes"><p>CBD</p><input type="checkbox" name="marijuanaTypes" value="CBD"></label>     
    <label for="marijuanaTypes"><p>Oils</p><input type="checkbox" name="marijuanaTypes" value="Oils"></label>    
         
</div>
</div>
</div>


       




</div>   
<div class="question-category hidden">
    <h2 class="question-category-title">Top 3 Hobbies</h2>
    <!-- Hobbies -->
    <div>
        <label for="hobbies1" >
            <p>Hobby 1</p>
            <input type="text" name="hobbies1" placeholder="Enter a Hobby"  >
        </label>
    </div>
    <div>
        <label for="hobbies2" >
            <p>Hobby 2</p>
            <input type="text" name="hobbies2" placeholder="Enter a Hobby"  >
        </label>
    </div>
    <div>
        <label for="hobbies3" >
            <p>Hobby 3</p>
            <input type="text" name="hobbies3" placeholder="Enter a Hobby" >
        </label>
    </div>
</div> 

<div class="question-category hidden">
    <h2 class="question-category-title">Military</h2>
<!-- Military -->
<div>
    <label for="military">
        <p>Were you in the Military?</p>
    <select name="military">
        <option value="" disabled selected>Choose One</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        

    </select>
</label>
</div>
<!-- Military Branch -->
<div>
    <label for="militaryBranch">
        <p>Branch of Service?</p>
    <select name="militaryBranch">
        <option value="N/A" selected>N/A</option>
        <option value="Army">Army</option>
        <option value="Marines">Marines</option>
        <option value="Navy">Navy</option>
        <option value="Air Force">Air Force</option>
    </select>
</label>
</div>
<!-- Partner Military -->
<div>
    <label for="partnerMilitary">
        <p>Preference for partner's Military Experience?</p>
    <select name="partnerMilitary">
        <option value="" disabled selected>Choose One</option>
        <option value="No Preference">No Preference</option>
        <option value="Apartment">Prefer they were Military</option>
        <option value="Prefer they did not serve">Prefer they did not serve</option>
    </select>
</label>
</div>

</div>

<div class="question-category hidden">
    <h2 class="question-category-title">Modern Entertainment</h2>
    <!-- Social Media -->
    <div>
        <label for="socialMedia">
            <p>Social Media Usage?</p>
        <select name="socialMedia">
            <option value="" disabled selected>Choose One</option>
        <option value="Never">Never</option>
        <option value="Rarely">Rarely</option>
        <option value="Occasionally">Occasionally</option>
        <option value="Daily">Daily</option>

        </select>
    </label>
    </div>
    <!-- TV -->
    <div>
        <label for="tv">
            <p>How Often do you watch TV?</p>
        <select name="tv">
            <option value="" disabled selected>Choose One</option>
            <option value="Rarely">Rarely</option>
            <option value="Occasionally">Occasionally</option>
            <option value="Frequently">Frequently</option>
            
        </select>
    </label>
    
    </div>
     <!-- Movies -->
     <div>
        <label for="movies">
            <p>How Often do you watch Movies?</p>
        <select name="movies">
            <option value="" disabled selected>Choose One</option>
            <option value="Rarely">A Few Times a Year</option>
            <option value="Occasionally">A Few Times a Month</option>
            <option value="Frequently">A Few Times a Week</option>
            
        </select>
    </label>
</div>
    <div>
    <label for="favMovieGenre">
        <p>Favorite Movie Genre?</p>    
        <select name="favMovieGenre">
            <option value="" disabled selected>Choose One</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Action">Action</option>
            <option value="Reality">Reality</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>

            
        </select>
    </label>     
    </div>
<!-- Gamer-->
<div>
<label for="gamer">
    <p>Are you a Gamer?</p>
<select name="gamer">
    <option value="" disabled selected>Choose One</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>

</select>
</label>
</div>
<div>
<label for="favGameGenre" >
    <p>Fav Game Genre?</p>
    <select name="favGameGenre">
        <option value="N/A" selected>N/A</option>
        <option value="Action">Action</option>
        <option value="RPG">RPG</option>
        <option value="FPS">FPS</option>
        <option value="MMO">MMO</option>
        <option value="Casual">Casual</option>

        
    </select>
</label>



</div>
</div>



<div class="question-category hidden">
    <h2 class="question-category-title">Traditional Entertainment</h2>
<!-- Exercise -->
<div>
    <label for="exercise">
        <p>Do you Exercise?</p>
    <select name="exercise">
        <option value="" disabled selected>Choose One</option>
      <option value="Never">Never / Almost Never</option>
      <option value="Monthly">A Few Times a Month</option>
      <option value="Weekly">1-2 Times a Week</option>
      <option value="Often">3-4 Times a Week</option>
      <option value="Very Often">5-7 Times a Week</option>
    </select>
    </label>
    </div>
    <!-- Outdoorsy-->
    <div>
        <label for="outdoorsy">
            <p>Outdoorsy?</p>
        <select name="outdoorsy">
            <option value="" disabled selected>Choose One</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>

        </select>
    </label>
    </div>
    <div>
        <label for="outdoorActivities" >
            <p>Fav Outdoor Activity?</p>
            <input type="text" name="outdoorActivities" placeholder="Enter Activities">
        </label>

    </div>
<!-- Books -->
<div>
    <label for="books">
        <p>Do you read Books?</p>
    <select name="books">
        <option value="" disabled selected>Choose One</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        
    </select>
</label>
</div>
<div>
<div class="multi-answer-container">
    <div class="multi-row-container">
        <p>Favorite Book Types:</p>
        <div class="multi-row">
            <label for="bookTypes"><p>Action</p><input type="checkbox" name="bookTypes" value="Action"></label>     
            <label for="bookTypes"><p>Mystery</p><input type="checkbox" name="bookTypes" value="Mystery"></label>     
            <label for="bookTypes"><p>Sci-Fi</p><input type="checkbox" name="bookTypes" value="Sci-Fi"></label>    
            <label for="bookTypes"><p>Romance</p><input type="checkbox" name="bookTypes" value="Romance"></label>    
            <label for="bookTypes"><p>Non-Fiction</p><input type="checkbox" name="bookTypes" value="Non-Fiction"></label>    
            <label for="bookTypes"><p>Fiction</p><input type="checkbox" name="bookTypes" value="Fiction"></label>    
            <label for="bookTypes"><p>Classics</p><input type="checkbox" name="bookTypes" value="Classics"></label>    
            <label for="bookTypes"><p>Humor</p><input type="checkbox" name="bookTypes" value="Humor"></label>    
            <label for="bookTypes"><p>Graphic Novels</p><input type="checkbox" name="bookTypes" value="Graphic Novels"></label>    
            <!-- <label for="bookTypes"><p>Comics</p><input type="checkbox" name="bookTypes" value="Comics"></label>     -->
          
    
        </div>
    </div>

</div>
</div>
</div>
<div class="question-category hidden">
    <h2 class="question-category-title">Travel</h2>
    <div>
        <label for="likeTravel">
            <p>Do you like travelling?</p>
        <select name="likeTravel">
            <option value="" disabled selected>Choose One</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            
        </select>
    </label>
    </div>
    <div>
        <label for="travelledOutsideUS">
            <p>Have you been Outside the US?</p>
        <select name="travelledOutsideUS">
            <option value="" disabled selected>Choose One</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            
        </select>
    </label>
    </div>
    
    <div class="multi-answer-container ">
        <div class="multi-row-container">

            <p>Where have you been?</p>
            <div class="multi-row">

                <label for="travelledTo"><p>N. America</p><input type="checkbox" name="travelledTo" value="North America"></label>     
                <label for="travelledTo"><p>S. America</p><input type="checkbox" name="travelledTo" value="South America"></label>     
                <label for="travelledTo"><p>Europe</p><input type="checkbox" name="travelledTo" value="Europe"></label>    
                <label for="travelledTo"><p>Asia</p><input type="checkbox" name="travelledTo" value="Asia"></label>    
                <label for="travelledTo"><p>Africa</p><input type="checkbox" name="travelledTo" value="Africa"></label>    
                <label for="travelledTo"><p>Antarctica</p><input type="checkbox" name="travelledTo" value="Antarctica"></label>    
            </div>
        </div>
    </div>
</div>
<div class="question-category hidden">
    <h2 class="question-category-title">Living Situation & Pets</h2>

             <!-- Pets -->
             <div>
                <label for="pets">
                    <p>Do you have Pets?</p>
                <select name="pets">
                    <option value="" disabled selected>Choose One</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    
                </select>
            </label>
            <div class="multi-answer-container multi-row">
                <label for="petTypes"><p>Dogs</p><input type="checkbox" name="petTypes" value="Dogs"></label>     
                <label for="petTypes"><p>Cats</p><input type="checkbox" name="petTypes" value="Cats"></label>     
                <label for="petTypes"><p>Birds</p><input type="checkbox" name="petTypes" value="Birds"></label>    
                <label for="petTypes"><p>Reptiles</p><input type="checkbox" name="petTypes" value="Reptiles"></label>    
                <label for="petTypes"><p>Other</p><input type="checkbox" name="petTypes" value="Other"></label>    
            
            </div>
            </div>
            <div>
                <label for="partnerPets" >
                    <p>Are you okay with your partner having pets? Do you have any allergies?</p>
                    <textarea  name="partnerPets"  rows="4" cols="100" placeholder="Yes, I'm okay with everything except birds/ No, I'm allergic to dogs."></textarea>
                </label>
            </div>
<!-- Living Situation -->

<div>
    <label for="livingSituation">
        <p>Your living situation?</p>
    <select name="livingSituation">
        <option value="" disabled selected>Choose One</option>
        <option value="House">House</option>
        <option value="Apartment">Apartment</option>
        <option value="Other">Other</option>
    </select>
</label>
</div>
<div>
    <label for="livingStatus">
        <p>Do you live alone / With others?</p>
    <select name="livingStatus">
        <option value="" disabled selected>Choose One</option>
        <option value="Alone">Alone</option>
        <option value="With Roommates">With Roommates</option>
        <option value="With Parents">With Parents</option>
        <option value="Other">Other</option>
    </select>
</label>
</div>


</div>


<div class="question-category hidden">
    <h2 class="question-category-title">Profession</h2>
    <div>
        <label for="professionIndustry" >
            <p>Profession Industry</p>
            <input type="text" name="professionIndustry" placeholder="Finance, Hospitality, etc.">
        </label>
    </div>
    <div>
        <label for="profession" >
            <p>Profession</p>
            <input type="text" name="profession" placeholder="Manager, Server, etc.">
        </label>
    </div>
    <div>
        <label for="professionLength">
            <p>How long?</p>
            <input type="text" name="professionLength" placeholder="1 month, 1 year, etc.">
    </label>
    </div>
    <div>
        <label for="professionSchedule" >
            <p>Work Schedule (Graveyard, Swing Shift, etc)</p>
            <input type="text" name="professionSchedule" placeholder="Swing, Graveyard, etc.">
        </label>
    </div>
</div>
<div class="question-category hidden open-ended-textarea">
    <h2 class="question-category-title">Open Ended</h2>
    
    <div>
        <label for="loveLanguage">
            <p>How do you show love/ prefer to be loved?</p>
        <select name="loveLanguage">
            <option value="" disabled selected>Choose One</option>
            <option value="Gifts">Gifts</option>
            <option value="Physical Touch">Physical Touch</option>
            <option value="Words of Affirmation">Words of Affirmation</option>
            <option value="Quality Time">Quality Time</option>
            <option value="Acts of Service">Acts of Service</option>
        </select>
    </label>
    </div>
    <div>
        <label for="threePhysicalTraits" >
            <p>What are 3 Physical traits that are important to you?</p>
            <textarea  name="threePhysicalTraits"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="partnerLooks" >
            <p>What does your ideal partner look like?</p>
            <textarea  name="partnerLooks"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="partnerType" >
            <p>Do you have a type? If so, are you open to widening your search for a partner?</p>
            <textarea  name="partnerType"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threePersonalityTraits" >
            <p>What are 3 Personality traits that are important to you?</p>
            <textarea  name="threePersonalityTraits"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="whatDoYouWant" >
            <p>What do you want in a match?</p>
            <textarea  name="whatDoYouWant"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="dealBreakers" >
            <p>What are 3 Deal Breakers to you?</p>
            <textarea  name="dealBreakers"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="petPeeves" >
            <p>What are 3 pet peeves of yours?</p>
            <textarea  name="petPeeves"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    
    <div>
        <p>Are you a Heartbreaker?</p>
        <label for="heartBreaker">
            <select name="heartBreaker">
                <option value="" disabled selected>Choose One</option>
                <option value="Yes">Yes, I'm a Heartbreaker</option>
                <option value="No">No, I'm usually the Heartbroken</option>
                <option value="Give My All">I give my all, but know when it’s time to walk away</option>

            </select>
        </label>
    </div>
    <div>
        <label for="beenInLove" >
            <p>How many times have you been in love?</p>
            <input name="beenInLove" type="number" placeholder="0, 1, 2, ...">
        </label>
    </div>
    <div>
        <label for="intimacy" >
            <p>How do you feel about intimacy?</p>
            <textarea  name="intimacy"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="whenLastRelationship" >
            <p>When did your last relationship end?</p>
            <textarea  name="whenLastRelationship"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="whyLastRelationship" >
            <p>Why did your last relationship end?</p>
            <textarea  name="whyLastRelationship"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threePersonalGoals" >
            <p>What are 3 of your personal/work goals for this year?</p>
            <textarea  name="threePersonalGoals"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threeCharacterFlaws" >
            <p>What are 3 of your flaws you want to improve on?</p>
            <textarea  name="threeCharacterFlaws"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threeThingsTable" >
            <p>What are 3 things you bring to the table?</p>
            <textarea  name="threeThingsTable"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="celebCrush" >
            <p>Who is your celebrity crush?</p>
            <textarea  name="celebCrush"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="holidays" >
            <p>Do you enjoy celebrating holidays? Which ones are important to you?</p>
            <textarea  name="holidays"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="lastBirthday" >
            <p>What did you do for your last Birthday?</p>
            <textarea  name="lastBirthday"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="dayOff" >
            <p>What is a typical day off like for you?</p>
            <textarea  name="dayOff"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threeSelfLove" >
            <p>What are 3 things you do to show yourself self love?</p>
            <textarea  name="threeSelfLove"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="mentalHealth" >
            <p>What is your current mental health status?</p>
            <textarea  name="mentalHealth"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="threePastRelationshipIssues" >
            <p>Describe 3 main issues with your last relationship?</p>
            <textarea  name="threePastRelationshipIssues"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="perfectDate" >
            <p>Perfect date?</p>
            <textarea  name="perfectDate"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="idealFirstDate" >
            <p>What would a potential match do on the first date to make you want to see them again?</p>
            <textarea  name="idealFirstDate"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="cooking" >
            <p>Do you enjoy cooking?</p>
            <textarea  name="cooking"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="communicationStyle" >
            <p>Describe your communication style. Are you a quick responder?</p>
            <textarea  name="communicationStyle"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="reliable" >
            <p>How reliable are you?</p>
            <textarea  name="reliable"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="planner" >
            <p>Are you a planner or more of a fly by the seat of your pants person?</p>
            <textarea  name="planner"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="hygiene" >
            <p>How important is hygiene/cleanliness? </p>
            <textarea  name="hygiene"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="frequentSpot" >
            <p>What is a most frequented spot in Las Vegas?</p>
            <textarea  name="frequentSpot"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="fiveYearPlan" >
            <p>If you could plan your future, where do you see yourself in 5 years?</p>
            <textarea  name="fiveYearPlan"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <p>Are you the more dominant or submissive partner in a relationship?</p>
        <label for="dominantSubmissive">
            <select name="dominantSubmissive">
                <option value="" disabled selected>Choose One</option>
                <option value="Dominant">Dominant</option>
                <option value="Submissive">Submissive</option>

            </select>
        </label>
    </div>
    <div>
        <label for="adventurer" >
            <p>Are you an adventurer/risk taker? What is one of the most risky things you’ve done?</p>
            <textarea  name="adventurer"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="likeSports" >
            <p>Are you into sports? Do you play? Favorite sport?</p>
            <textarea  name="likeSports"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="littleKnownFact" >
            <p>Something not many people know about you.</p>
            <textarea  name="littleKnownFact"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="prizedPossesion" >
            <p>Most prized possession/Who do you look up to?</p>
            <textarea  name="prizedPossesion"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="trulyValue" >
            <p>What do you truly value?</p>
            <textarea  name="trulyValue"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="criminalHistory" >
            <p>What is your criminal history? Be Specific.</p>
            <textarea  name="criminalHistory"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    <div>
        <label for="extraInfo" >
            <p>Anything else I should know about you or what you’re looking for in a partner? </p>
            <textarea  name="extraInfo"  rows="4" cols="100" placeholder="Enter Response"></textarea>
        </label>
    </div>
    
</div>
         
    

        <input id="questionnaire-submit" class="submit hidden" type="submit" value="Submit">
    </form>

<script src="/questionnaire.js"></script>
</div>
<%- include('./partials/footer') %> 