<%- include('./partials/header') %> 
<div id="questionnaire">
    <h1>Questionnaire</h1>
    
    
    <form id="questionnaire-form" action="/questionnaire" method="POST">
        <!-- STRING INPUT -->
        <div>
            <label for="fullName" >
                <p>Full Name</p>
                <input type="text" name="fullName" placeholder="Enter Full Name" required>
            </label>
        </div>
        <!-- DATE -->
        <div>
            <label for="birthday" >
                <p>Birthday</p>
                <input type="date" min="1903-01-02" max="2004-01-01" name="birthday" placeholder="Birthday" required>
            </label>
        </div>
        <!-- Number INPUT -->
        <!-- <div>
            <label for="age" > 
                <p>Age</p>
                <input type="number" name="age" placeholder="Enter Age" required>
            </label>
        </div> -->
        <!-- Gender -->
        <div>
            <label for="gender">
                <p>Select Gender:</p>
            <select name="gender">
                <option value="" disabled selected>Choose One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
        </label>
        </div>
        <!-- Seeking -->
        <div>
            <label for="seeking">
                <p>Seeking:</p>
            <select name="seeking">
                <option value="" disabled selected>Choose One</option>
              <option value="Men">Men</option>
              <option value="Women">Women</option>
              <option value="Both">Both</option>
            </select>
        </label>
        </div>
        <!-- ageRange -->
        <div>
            <label for="ageRange">
                <p>Ideal Partner Age:</p>
            <select name="ageRange">
                <option value="" disabled selected>Choose One</option>
              <option value="20-25">20-25</option>
              <option value="25-30">25-30</option>
              <option value="30-35">30-35</option>
              <option value="35-40">35-40</option>
              <option value="40-45">40-45</option>
              <option value="45-50">45-50</option>
              <option value="50-55">50-55</option>
              <option value="60-65">60-65</option>
            </select>
        </label>
        </div>
        <!-- Ethnicity -->
        <div>
            <label for="ethnicity">
                <p>Choose your Ethnicity</p>
            <select name="ethnicity">
                <option value="" disabled selected>Choose One</option>
              <option value="White">White</option>
              <option value="Black">Black</option>
              <option value="Asian">Asian</option>
              <option value="Hispanic">Hispanic</option>
              <option value="Middle-Eastern">Middle-Eastern</option>
            </select>
        </label>
        </div>

                <!-- Religion -->
                <div>
                    <label for="religion">
                        <p>Religion</p>
                    <select name="religion">
                        <option value="" disabled selected>Choose One</option>
                      <option value="Christian">Christian</option>
                      <option value="Catholic">Catholic</option>
                      <option value="Jewish">Jewish</option>
                      <option value="Buddhist">Buddhist</option>
                      <option value="Mormon">Mormon</option>
                      <option value="Islamic">Islamic</option>
                      <option value="Spiritual">Spiritual</option>
                      <option value="Agnostic">Agnostic</option>
                    </select>
                </label>
                </div>

                <!-- Children -->
                <div>
                    <label for="children">
                        <p>Have Children</p>
                    <select name="children">
                        <option value="" disabled selected>Choose One</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        
                    </select>
                </label>

                    <label for="wantChildren">
                        <p>Want Children</p>
                    <select name="wantChildren">
                        <option value="" disabled selected>Choose One</option>
                        <option value="Yes">Yes, I want Children</option>
                        <option value="No">No, I don't want Children</option>
                        <option value="Open">Maybe</option>
                    </select>
                </label>
                
                    <label for="stepParent">
                        <p>Willing to be a Step Parent?</p>
                    <select name="stepParent">
                        <option value="" disabled selected>Choose One</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Open">Maybe</option>
                    </select>
                </label>
                </div>
        <!-- Alcohol -->
        <div>
            <label for="alcoholUse">
                <p>Alcohol Consumption</p>
            <select name="alcoholUse">
                <option value="" disabled selected>Choose One</option>
              <option value="Infrequently">Once in a While</option>
              <option value="Occasionally">Occasionally</option>
              <option value="Socially">Socially</option>
              <option value="Often">Often</option>
              <option value="Excessively">Excessively</option>
            </select>
        </label>
        </div>
        <!-- Cigarette -->
        <div>
            <label for="cigaretteUse">
                <p>Cigarette Use</p>
            <select name="cigaretteUse">
                <option value="" disabled selected>Choose One</option>
              <option value="Infrequently">Once in a While</option>
              <option value="Occasionally">Occasionally</option>
              <option value="Socially">Socially</option>
              <option value="Often">Often</option>
              <option value="Excessively">Excessively</option>
            </select>
        </label>
        </div>
        <!-- Marijuana -->
        <div>
            <label for="marijuanaUse">
                <p>Marijuana Usage</p>
            <select name="marijuanaUse">
                <option value="" disabled selected>Choose One</option>
              <option value="Infrequently">Once in a While</option>
              <option value="Occasionally">Occasionally</option>
              <option value="Socially">Socially</option>
              <option value="Often">Often</option>
              <option value="Excessively">Excessively</option>
            </select>
        </label>
        </div>
        
       

        <input id="questionnaire-submit" class="submit" type="submit" value="Submit">
    </form>


</div>
<%- include('./partials/footer') %> 