<%- include('./partials/header') %> 
<div id="questionnaire">
    <h1>user page</h1>
    <% if(currentUser) { %>
    <h2><%= currentUser.name %></h2>
    <h2><%= currentUser.username %></h2>
    <% } %>

</div>
<%- include('./partials/footer') %> 