:root {
    --primary: #ED1C24;
    --secondary: #ffffff;
    --black: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    letter-spacing: 2px;

}

/* NAV BAR */
nav{
    height: 8vh;
    letter-spacing: 2px;
    background-color: var(--black);
    
}
nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;  
}

li>a {
    text-decoration: none;
    color: var(--secondary);
}

#nav-img{
    height: 5vh;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* JUMBOTRON */
.jumbotron {
    height: 92vh;
    background-image: url('./images/couple-1.jpg');
    background-size: cover;
}

.jumbotron img{
    height: 30vh;
    
}
hr{
    height: 4px;
    width: 70%;
    background-color: white;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
.jumbotron-container{
    background-color: rgba(0,0,0, 0.7);
    padding: 4em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: white;

}

.jumbotron-container h2 {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 300;
}


/* HISTORY */
.history{
    background-color: #f5f5f5;
}
#history-container{
    width: 70%;
    height: 60vh;

    display: flex;
    position: relative;
}
#history-container h3{
    text-align: center;
    margin-bottom: .5em;
    font-size: 2em;
    letter-spacing: 1px;
}
.logo-text{
    height: 1.75em;
}
#history-container .vera-3{
    height: 100%;
    border-radius: 50%;
}
#history-container-icon{
    height: 50px;
}
#history-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    font-size: 1.5em;
    line-height: 1.6;
}
#quote-right{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* PITCH */
.pitch{
    background-color: black;
    position: relative;
}
#pitch-bg-logo{
    position: absolute;
    bottom: 1em;
    height: 70vh;
    right: 0;
    opacity: 0.5;
    z-index: 1;
}
#pitch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    color: white;
}
#pitch-container ul{
    z-index: 2;
    margin-top: 2em;
    list-style: none;
    line-height: 1.6;
    font-size: 1.3em;
    padding-left: 4em;
}
#pitch-container h3{
    font-size: 2.5em;
    text-align: center;
}
.verafied-checkmarks{
    height: 70px;
}
/* CONTACT */
.contact{
    background: #f5f5f5;
}
.contact h3{
    font-size: 2.5em;
    margin-bottom: 1em;
}
.contact form{
    width: 80%;
    
}
.contact input{
    height: 6vh;
    
}
.contact input, .contact textarea{
    width: 100%;
    padding-left: 1em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    letter-spacing: 2px;
}

.contact textarea{
    padding: 1em;
}

/* FOOTER */
footer{
   height: 20vh;
   background-color: black;
   letter-spacing: 2px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 1.5em;
}
footer h5{
    padding: 0;
    margin: 0;
}

footer ul{
    height: 100%;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
}
footer a>i{
    font-size: x-large;
}
footer img{
    height: 2em;
}
footer a{
    color: white;
    margin: 1em;
}

footer .fa-facebook:hover{
    color: #3b5998;
}

footer .fa-instagram:hover{
    color: #FD1D1D;
}
footer .fa-twitter:hover{
    color: #1DA1F2;
}
footer .fa-tiktok:hover{
    color: #69C9D0;
}