<%- include('../partials/header') %>
<main id="people-index">
    <%- include('../partials/flash') %>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Seeking</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>20</td>
        <td>Male</td>
        <td>Females</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
    </tr>
    <tr>
        <td>Jane Doe</td>
        <td>22</td>
        <td>Female</td>
        <td>Males</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
    </tr>
</table>

</main>
<%- include('../partials/footer') %>