<%- include('../partials/header') %>
<div>
    <%- include('../partials/flash') %>
    <script>
        document.title = "Verafied™ - Login" 
        </script>
    <div class="login-signup-container">
        <form action="/login" method="POST" class="form-container mt-3">
            <h1 class="text-center">Login</h1>
            <!-- USERNAME -->
            <div>
                <label for="username" >
                    <input type="text" name="username" placeholder="Username" required>
                </label>
            </div>
             <!-- PASSWORD -->
            <div>
                <label for="password" >
                    <input type="password" name="password" placeholder="Password"  required>
                </label>
            </div>
            
            <input class="submit btn-primary" type="submit" value="Login">
        </form>
    </div>
</div>


<%- include('../partials/footer') %>